#deliveryItem {
    display: flex;

    padding: 10px;

    border-bottom: 1px solid #e5e5e5;

    @media screen and (max-width: 500px) {
        padding: 10px 0 20px;
    }
    .deliveryItem__image {

        .deliveryItem__img {
            object-fit: contain;
            border-radius: 15px;
            height: 120px;
            width: 193px;

            @media screen and (max-width: 500px) {
                width: 150px;
                height: auto;
            }
        }
    }

    .deliveryItem__description {
        width: 100%;

        margin-left: 10px;

        padding: 0 0 12px 0;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media screen and (max-width: 500px) {
            padding: 0;
        }

        .deliveryItem__header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .deliveryItem__title {
                font-size: 14px;
                color: #222;
                letter-spacing: .05em;
            }

            svg {
                width: 20px;
                height: 20px;

                cursor: pointer;
            }
        }

        .deliveryItem__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .deliveryItem__priceBlock {

                .deliveryItem__price {
                    font-size: 18px;
                    letter-spacing: .03em;
                    font-weight: 700;

                    margin-right: 5px;
                }

                .deliveryItem__currency {
                    font-weight: 700;
                    font-size: 11px;
                }
            }
        }
    }
}