

.pizza-wrapper {
    border: 1px solid #e0e0e0;
    border-radius: 25px;

    padding: 10px;

    cursor: pointer;

    transition: .2s all ease-in;

    background-color: #fff;
    
    &:hover {
        box-shadow: 0 0 15px rgba(0,0,0,.5);

        .pizza-image {

            img {
                transform: scale(1.01);
            }
        }
    }

    .pizza-image {
        display: block;

        img {
            width: 100%;
            height: auto;
            min-height: 176px;

            border-radius: 15px;

            transition: all .2s ease-in;
        }
    }

    .pizza-description {
        padding: 20px 10px 30px 20px;
        

        .pizza-title {
            font-size: 14px;
            font-weight: 600;
            letter-spacing: .05em;
            text-decoration: none;
            color: #222;
        }

        .pizza-toppings {
            margin-top: 20px;

            min-height: 35px;

            font-size: 11px;
            line-height: 146%;
            color: #4f4f4f;
        }
    }

    .pizza-variants {

        .pizza-variantsList {
            display: flex;

            &:first-child {
                margin-bottom: 10px;
            }

            &.pizza-sizes {
                background-color: rgba(0, 0, 0, 0.08);

                border: 1px solid rgba(0,0,0,.08);
                border-radius: 15px;
            }

            &:last-child {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;
            }

            .pizza-variantsButton {
                flex-grow: 1;

                border-radius: 15px;
                border: none;

                height: 30px;

                cursor: pointer;

                transition: .2s all linear;

                &.active {
                    background: #4f4f4f !important;
                    color: #fff;
                    font-weight: 600;
                }

                &:hover {
                    background: none;
                }
            }
        }
    }
    
    .pizza-footer {
        margin-top: 20px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .pizza-price {

            .pizza-priceNumber {
                font-size: 18px;
                font-weight: 700;
            }

            .pizza-priceText {
                font-size: 11px;
                margin-left: 5px;
                font-weight: 700;
            }
        }

        .pizza-addToCart {
            background-color: #BF142E;
            color: #fff;
            font-size: 18px;
            font-weight: 700;

            height: 45px;

            padding: 10px 20px;

            border-radius: 15px;
            border: none;

            cursor: pointer;

            @media screen and (max-width: 600px) {
                width: 190px;
            }
        }
    }
}