

#clientForm {
    margin-bottom: 30px;

    .clientForm__title {
        font-weight: 600;
        font-family: Open Sans,sans-serif;

        margin-bottom: 15px;
    }

    .clientForm__inputGroup {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;

        @media screen and (max-width: 600px) {
            display: flex;
            flex-direction: column;
        }
    }
}