#header {
  transition: 0.2s all linear;

  .header__top {
    padding: 7px 0;

    color: #fff;
    background-color: rgb(21, 22, 23);

    .container {
      display: flex;
      justify-content: space-between;

      .header__loader {
        margin-right: 40px;
      }

      @media screen and (max-width: 1000px) {
        padding: 0 30px;
      }

      @media screen and (max-width: 400px) {
        padding: 0 10px;
      }
    }
  }

  .header__middle {
    background-color: #333;

    padding: 10px 0;

    .container {
      @media screen and (max-width: 1000px) {
        padding: 0 30px;
      }

      @media screen and (max-width: 400px) {
        padding: 0 10px;
      }
    }
  }

  .container {
    height: 100%;

    display: flex;
    align-items: center;

    @media screen and (max-width: 600px) {
      padding: 0;
    }

    .header__content {
      width: 100%;

      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
