#search {
  height: 32px;

  min-width: 350px;

  background-color: #fff;

  border-radius: 5px;

  padding: 7px 10px;

  position: relative;

  @media screen and (max-width: 1100px) {
    min-width: 250px;
  }

  @media screen and (max-width: 1100px) {
    min-width: 150px;

    margin: 0 10px;
  }

  .search__input {
    width: 100%;

    display: flex;
    align-items: center;
    position: relative;

    .search__searchIcon {
      margin-right: 7px;

      fill: #4f4f4f;
    }

    .search__clearIcon {
      position: absolute;
      right: 0;

      cursor: pointer;

      opacity: 0.5;

      transition: 0.2s all ease-in;

      &:hover {
        opacity: 1;

        transform: scale(1.15);
      }
    }

    .search__field {
      border: none;
      outline: none;

      width: 100%;

      &:active,
      &:focus {
        outline: none;
      }
    }
  }

  .search__results {
    position: absolute;
    top: calc(100% + 5px);
    left: -65px;
    right: 0;
    z-index: 10;

    width: 100%;
    min-width: 500px;

    background-color: #fff;

    border: 1px solid #e0e0e0;

    padding: 10px 5px;

    border-radius: 5px;

    min-height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    .search__resultsList {
      width: 100%;

      .search__watchMore {
        display: block;
        width: 100%;
        text-align: right;

        font-size: 13px;
        color: #fe5f1e;

        cursor: pointer;
      }

      .search__resultsItem {
        display: flex;
        padding: 5px;

        transition: 0.2s all ease-in-out;

        &:hover {
          cursor: pointer;

          background-color: rgba(0, 0, 0, 0.08);

          .search__resultsContent {
            .search__resultAddToCart {
              opacity: 0.9;

              cursor: pointer;
            }
          }
        }

        &:last-child {
          margin-bottom: 0;
        }

        .search__resultsImage {
          img {
            width: 80px;
            height: 40px;

            border-radius: 5px;
          }
        }

        .search__resultsContent {
          padding: 5px;

          display: flex;
          justify-content: space-between;
          align-items: center;

          width: 100%;

          .search__resultsTitle {
            font-size: 15px;
            font-weight: 500;
          }

          .search__resultAddToCart {
            opacity: 0;

            padding: 7px 15px;

            border-radius: 10px;

            border: none;
            outline: none;

            background-color: #4f4f4f;
            color: #fff;

            transition: 0.5s all ease-in-out;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
