{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 135,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "importOrder": ["^@core/(.*)$", "^components/(.*)$", "^Context/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
