@import './forms';

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: 'ProximaNova', sans-serif;
}

.App {
  .Toastify {
    .Toastify__toast-container {
      z-index: 99999999;
    }
  }
}

body {
  height: 100vh;

  #root {
    height: 100%;

    .App {
      height: 100%;

      .loader {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 150px !important;
        transform: translate(-50%, -50%);
      }
    }
  }
}

li {
  list-style: none;
}

#root {
  background: #f8f4f8;
}

.list {
  padding-bottom: 40px;
}

.product__list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
}

.category {
  margin-bottom: 40px;

  .category__title {
    font-size: 24px;
    text-align: center;

    padding: 20px;
  }
}

.padding-top {
  padding-top: 70px;
}

.scroll__blocked {
  max-height: 100vh;
  overflow: hidden;
}

.is-sticky {
  position: fixed;
  z-index: 999999;

  width: 100%;

  left: 0;
  right: 0;
  top: 0;
}

button {
  &:hover {
    background-color: transparent;
  }
}

.rotated {
  transform: rotate(180deg);
}

#qty {
  display: flex;
  align-items: center;

  opacity: 0;

  transition: 0.3s all ease-in;

  position: absolute;
  top: 35%;
  right: 30%;

  .qty {
    background-color: red;

    color: #fff !important;

    margin-left: -0.25em;
    margin-right: -0.25em;

    width: 33px !important;
    height: 33px !important;

    z-index: 5;
  }

  .minus,
  .plus {
    background-color: #fff;
    position: relative;
    width: 22px;
    height: 22px;
  }

  .minus,
  .plus,
  .qty {
    width: 27px;
    height: 27px;

    display: block;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;
  }
}

.form__field {
  margin-bottom: 15px;

  position: relative;

  .form__input {
    width: 100%;

    font-size: 16px;
    color: #4f4f4f;

    outline: none;

    padding: 0 10px;

    height: 30px;

    border-radius: 15px;
    border: 1px solid rgba(79, 79, 79, 0.5);

    &.not__valid {
      border-color: red;
    }

    &:focus {
      border-color: rgba(79, 79, 79, 0.5) !important;
    }
  }
}

.input__error {
  font-size: 14px;
  margin-left: 10px;
}

.no-scroll {
  overflow: hidden;
}

.shake__animation {
  animation: shake 1s ease-in infinite;
}

@keyframes shake {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-2deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(3deg);
  }
  30% {
    transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(-2deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(4deg);
  }
  90% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.scaleup__animation {
  animation: scaleupanimation 0.4s ease-in 1;
}

@keyframes scaleupanimation {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}

.scaledown__animation {
  animation: scaledownanimation 0.4s ease-in 1;
}

@keyframes scaledownanimation {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(2);
  }

  50% {
    transform: scale(0.3);
  }

  100% {
    transform: scale(1);
  }
}
