.product-component {
  border: 1px solid #e0e0e0;
  border-radius: 25px;

  padding: 10px;

  cursor: pointer;

  transition: 0.2s all ease-in;

  background-color: #fff;

  @media screen and (max-width: 600px) {
    padding: 10px 10px 25px;

    width: 85%;

    justify-self: safe center;

    border: 3px solid #e0e0e0;
    border-radius: 20px;

    margin-bottom: 20px;
  }

  &:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);

    .product-component__link {
      .product-component__image {
        transform: scale(1.02);
      }
    }
  }

  .product-component__link {
    display: block;

    position: relative;

    .product-component__image {
      width: 100%;
      height: auto;
      min-height: 176px;

      border-radius: 15px;

      transition: all 0.2s ease-in;

      @media screen and (max-width: 600px) {
        min-height: auto;
        max-height: 250px;
      }
    }
  }

  .product-component__details {
    padding: 20px 10px 30px 15px;

    @media screen and (max-width: 600px) {
      padding: 10px 10px 15px 15px;
    }

    .product-component__title {
      font-size: 15px;
      font-weight: 600;
      letter-spacing: 0.05em;
      text-decoration: none;
      color: #222;

      min-height: 40px;

      display: inline-block;

      @media screen and (max-width: 600px) {
        font-size: 18px;
      }
    }

    .product-component__ingridients {
      margin-top: 20px;

      min-height: 35px;

      font-size: 12px;
      line-height: 146%;
      color: #4f4f4f;

      @media screen and (max-width: 600px) {
        margin-top: 10px;
        font-size: 13px;
      }
    }
  }

  .product-component__variants {
    .product-component__list {
      display: flex;

      &:first-child {
        margin-bottom: 10px;

        background-color: rgba(0, 0, 0, 0.08);

        border: 1px solid rgba(0, 0, 0, 0.08);
        border-radius: 15px;
      }

      .product-component__button {
        flex-grow: 1;

        border-radius: 15px;
        border: none;

        height: 30px;

        cursor: pointer;

        transition: 0.2s all linear;

        &.product-component__button_active {
          background: #4f4f4f !important;
          color: #fff;
          font-weight: 600;
        }

        &:hover {
          background: none;
        }
      }
    }

    &.pizza-component__variants {
      .product-component__list {
        &:last-child {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 10px;
        }
      }
    }
  }

  .product-component__footer {
    margin-top: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .product-component__price {
      .price__number {
        font-size: 18px;
        font-weight: 700;
      }

      .price__text {
        font-size: 11px;
        margin-left: 5px;
        font-weight: 700;
      }
    }

    .product-component__toCartButton {
      background-color: #bf142e;
      color: #fff;
      font-size: 18px;
      font-weight: 700;

      height: 45px;

      padding: 10px 20px;

      border-radius: 15px;
      border: none;

      cursor: pointer;

      overflow: hidden;
      position: relative;

      @media screen and (max-width: 600px) {
        width: 160px;
      }
    }
  }

  &.drink-component {
    .product-component__link {
      .product-component__image {
        @media screen and (max-width: 600px) {
          min-height: auto;
          max-height: 250px;

          width: 50%;

          display: block;

          margin: 0 auto;
        }
      }
    }
    .product-component__details {
      .product-component__title {
        min-height: auto;
      }
    }
  }
}
